.home {
  width: 100%;
  min-height: 88vh;
  padding-top: 5rem;
  position: relative;
  z-index: 5;
}

.home .introtext {
  max-width: 600px;
  min-height: 400px;
}

.home .introtext h1 {
  font-weight: 700;
  font-size: clamp(2.5rem, 5vw, 4rem);
}

.home .introtext p {
  margin-top: 0.5rem;
  padding-top: 1.5rem;
  line-height: 3;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1rem;
}

